<div class="container">
    <div class="box">
        <div class="tittle">
            <h1>Perfil</h1>
        </div>
        <form [formGroup]="registerForm" #ngform="ngForm" *ngIf="user">
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Nome" formControlName="name"
                        [ngClass]="{'is-invalid': submitted && form.name.errors }" type="text">
                    <mat-error *ngIf="submitted && form.name.errors" class="invalid-feedback">
                        <mat-error *ngIf="form.name.errors.required"> Nome é obrigatório
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Telefone" formControlName="phone"
                        [ngClass]="{'is-invalid': submitted && form.phone.errors }" type="text">
                    <mat-error *ngIf="submitted && form.phone.errors" class="invalid-feedback">
                        <mat-error *ngIf="form.phone.errors.required"> Telefone é obrigatório
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email"
                        [ngClass]="{'is-invalid': submitted && form.email.errors }" type="email">
                    <mat-error *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <mat-error *ngIf="form.email.errors.required"> Email é obrigatório
                        </mat-error>
                        <mat-error *ngIf="form.email.errors.email"> Email inválido
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Você deseja</mat-label>
                    <mat-select matInput formControlName="type"
                        [ngClass]="{'is-invalid': submitted && form.type.errors }" type="text">
                        <mat-option *ngFor="let type of userTypes " [value]="type.value">
                            {{type.action}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && form.type.errors" class="invalid-feedback">
                        <mat-error *ngIf="form.type.errors.required">Tipo do usuário é obrigatório
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <div class="gender-radio">
                    <mat-label>Sexo</mat-label>
                    <mat-radio-group formControlName="gender" class="gender-radio-group">
                        <mat-radio-button *ngFor="let gender of userGenders; let i = index" class="gender-radio-button"
                            [value]="gender.value">
                            {{gender.pt_br}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form.gender.errors" class="invalid-feedback">
                        <mat-error *ngIf="form.type.gender.required">Sexo é obrigatório
                        </mat-error>
                    </mat-error>
                </div>
            </div>
            <div class="actionButtons">
                <!-- 
                <button (click)="cancelClicked()" class="btn btn-outline-danger">Cancelar</button> -->
                <button (click)="save()" class="btn btn-outline-success">Salvar alterações</button>
            </div>
        </form>
    </div>
</div>